python-dotenv~=1.2.2
Django~=6.0.6
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
channels==4.3.2
channels-redis==4.1.0
psycopg2-binary==2.9.12
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
daphne==4.2.2
dj-database-url==3.1.2
redis==4.6.0